# https://docs.npmjs.com/cli/v11/using-npm/developers#keeping-files-out-of-your-package
# The following paths and files are never ignored, so adding them to .npmignore is pointless:
# package.json
# README (and its variants)
# LICENSE / LICENCE

*.json
*.md
.idea
bun.lock
example/
src/
